// Copyright (c) 2021 Akihiro Yamamoto.
// Licensed under the MIT License <https://spdx.org/licenses/MIT.html>
// See LICENSE file in the project root for full license information.
//
#ifndef CREDENTIALS_H
#define CREDENTIALS_H

struct Credentials {
  const char *wifi_ssid;
  const char *wifi_password;
  const char *connection_string;
  const char *device_id;
  struct {
    const char *bme280;
    const char *sgp30;
    const char *scd30;
  } sensor_id;
};

static const struct Credentials Credentials = {
    .wifi_ssid = "************",
    .wifi_password = "**********",
    .connection_string =
        "HostName=**************.azure-devices.net;DeviceId=m5stack-bme280-"
        "device;SharedAccessKey=********************************************",
    .device_id = "m5stack-bme280-device",
    .sensor_id =
        {
            .bme280 = "m5stack-bme280-device-bme280",
            .sgp30 = "m5stack-bme280-device-sgp30",
            .scd30 = "m5stack-bme280-device-scd30",
        },
};

#endif // CREDENTIALS_H
