// Copyright (c) 2021 Akihiro Yamamoto.
// Licensed under the MIT License <https://spdx.org/licenses/MIT.html>
// See LICENSE file in the project root for full license information.
//
#ifndef CREDENTIALS_H
#define CREDENTIALS_H

struct Credentials {
  const char *wifi_ssid;
  const char *wifi_password;
  const char *iothub_fqdn;
  const char *device_id;
  const char *device_key;
};

static const struct Credentials Credentials = {
    .wifi_ssid = "************",
    .wifi_password = "**********",
    .iothub_fqdn = "**************.azure-devices.net",
    .device_id = "m5stack-bme280-device",
    .device_key = "********************************************",
};

#endif // CREDENTIALS_H
